<link rel="stylesheet" type="text/css" href="/digimap/css/animate.min.css?v=1.0.0" media="all" />
<link rel="stylesheet" type="text/css" href="/digimap/css/common.css?v=1.0.02" media="all" />
<link rel="stylesheet" type="text/css" href="/digimap/css/pagec.css?v=1.0.02" media="all" />
<link rel="stylesheet" type="text/css" href="/digimap/css/mobile.css?v=1.0.02" media="screen and (max-width: 650px)">

<!-- Scripts -->
<script type="text/javascript" data-require="jquery@3.2.1" data-semver="3.2.1" src="/digimap/js/jquery.min.js?v=3.2.1"></script>
<script type="text/javascript" data-require="jquery@3.2.1" data-semver="3.2.1" src="/digimap/js/jquery.touchswipe.min.js?v=3.2.1"></script>
<script type="text/javascript" data-require="popper@1.12.5" data-semver="1.12.5" src="/digimap/js/umd/popper.min.js?v=1.12.5"></script>
<script type="text/javascript" data-require="bootstrap@4.0.0" data-semver="4.0.0" src="/digimap/js/bootstrap.min.js?v=4.0.0"></script>

<div class="wrapper1" id="framework">
    <section>
        <div class="container-fluid">
            <img src="/digimap/images/c-pc.jpg" class="img-fluid desktop" id="pagec-pc" usemap="#pagec-pc-map" />
            <img src="/digimap/images/c-mobile.jpg" class="img-fluid mobile" id="pagec-mobile" usemap="#pagec-mobile-map">
        </div>
    </section>
</div>

<map name="pagec-pc-map" id="pagec-pc-map">
    <area id="pcaitaiwan" data-pimg="pagec-pc" data-img="aitaiwan" data-x="94" data-y="126" data-cw="180" alt="AI Taiwan" title="AI Taiwan"
        href="https://ai.taiwan.gov.tw/" shape="poly" coords="856,67,803,78,758,108,728,153,717,206,728,259,758,304,803,334,856,345,909,334,954,304,984,259,995,206,984,153,954,108,909,78"
        style="outline:none;" target="_blank" />
    <area id="pcasiavalley" data-pimg="pagec-pc" data-img="asiavalley" data-x="91" data-y="89" data-cw="196" alt="Asia ‧ Silicon Valley"
        title="Asia ‧ Silicon Valley" href="https://www.asvda.org/eng/index.aspx" shape="poly" coords="688,339,639,349,597,376,570,418,560,467,570,516,597,558,639,585,688,595,737,585,787,567,819,523,824,467,806,418,779,376,737,349"
        style="outline:none;" target="_blank" />
    <area id="pcbiomedical" data-pimg="pagec-pc" data-img="biomedical" data-x="86" data-y="116" data-cw="188" alt="Biomedical industry"
        title="Biomedical industry" href="https://biomed.taiwan.gov.tw/" shape="poly" coords="526,110,474,120,431,150,401,193,391,245,401,297,431,340,474,370,526,390,582,381,629,347,663,297,670,245,660,193,621,150,578,120"
        style="outline:none;" target="_blank" />

    <area id="pcintelligent" data-pimg="pagec-pc" data-img="intelligent" data-x="-31" data-y="27" data-cw="180" alt="Intelligent Cities"
        title="Intelligent Cities" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="879,647,1157,719"
        style="outline:none;" target="_blank" />
    <area id="pcnetworksoc" data-pimg="pagec-pc" data-img="networksoc" data-x="-19" data-y="23" data-cw="188" alt="Network Society"
        title="Network Society" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="624,649,853,721"
        style="outline:none;" target="_blank" />
    <area id="pcgovernment" data-pimg="pagec-pc" data-img="government" data-x="-9" data-y="27" data-cw="214" alt="Digital Government"
        title="Digital Government" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="366,646,595,718"
        style="outline:none;" target="_blank" />
    <area id="pceconomy" data-pimg="pagec-pc" data-img="economy" data-x="-32" data-y="28" data-cw="174" alt="Digital Economy"
        title="Digital Economy" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="113,646,342,718"
        style="outline:none;" target="_blank" />
    <area id="pcresearching" data-pimg="pagec-pc" data-img="researching" data-x="-11" data-y="18" data-cw="327" alt="Researching and developing cutting-edge digital technology"
        title="Researching and developing cutting-edge digital technology" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77"
        shape="rect" coords="835,726,1180,819" style="outline:none;" target="_blank" />
    <area id="pcfostering" data-pimg="pagec-pc" data-img="foscering" data-x="-35" data-y="19" data-cw="276" alt="Fostering interdisciplinary digital talents"
        title="Fostering interdisciplinary digital talents" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect"
        coords="466,724,811,817" style="outline:none;" target="_blank" />
    <area id="pccreating" data-pimg="pagec-pc" data-img="creating" data-x="-78" data-y="19" data-cw="201" alt="Creating a friendly legal environment"
        title="Creating a friendly legal environment" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect"
        coords="98,726,443,819" style="outline:none;" target="_blank" />
    <area id="pcconstructing" data-pimg="pagec-pc" data-img="constructing" data-x="-22" data-y="19" data-cw="712" alt="Constructing a beneficial infrastructure for digital innovation"
        title="Constructing a beneficial infrastructure for digital innovation" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77"
        shape="rect" coords="263,826,1031,906" style="outline:none;" target="_blank" />

</map>

<map name="pagec-mobile-map" id="pagec-mobile-map">
    <area id="maitaiwan" data-pimg="pagec-mobile" data-img="aitaiwan" data-x="112" data-y="128" data-cw="220" alt="AI Taiwan"
        title="AI Taiwan" href="https://ai.taiwan.gov.tw/" shape="poly" coords="430,160,401,166,376,183,359,208,353,237,359,266,376,291,401,308,430,314,459,308,484,291,501,266,507,237,501,208,484,183,458,162"
        style="outline:none;" target="_blank" />
    <area id="masiavalley" data-pimg="pagec-mobile" data-img="asiavalley" data-x="122" data-y="112" data-cw="256" alt="Asia ‧ Silicon Valley"
        title=" Asia ‧ Silicon Valley" href="https://www.asvda.org/eng/index.aspx" shape="poly" coords="341,310,311,316,286,333,269,358,263,388,269,418,286,443,311,460,341,466,371,460,396,443,413,418,419,388,413,358,396,333,371,316"
        style="outline:none;" target="_blank" />
    <area id="mbiomedical" data-pimg="pagec-mobile" data-img="biomedicalm" data-x="106" data-y="116" data-cw="228" alt="Biomedical industry"
        title="Biomedical industry" href="https://biomed.taiwan.gov.tw/" shape="poly" coords="253,158,223,164,198,181,181,206,175,236,181,266,198,291,223,308,253,314,283,308,308,291,325,266,331,236,325,206,308,181,283,164"
        style="outline:none;" target="_blank" />

    <area id="mintelligent" data-pimg="pagec-mobile" data-img="intelligentm" data-x="-24" data-y="31" data-cw="208" alt="Intelligent Cities"
        title="Intelligent Cities" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="503,639,640,717"
        style="outline:none;" target="_blank" />
    <area id="mnetworksoc" data-pimg="pagec-mobile" data-img="networksocm" data-x="-31" data-y="33" data-cw="186" alt="Network Society"
        title="Network Society" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="346,639,483,717"
        style="outline:none;" target="_blank" />
    <area id="mgovernment" data-pimg="pagec-mobile" data-img="governmentm" data-x="5" data-y="35" data-cw="254" alt="Digital Government"
        title="Digital Government" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="181,637,330,715"
        style="outline:none;" target="_blank" />
    <area id="meconomy" data-pimg="pagec-mobile" data-img="economym" data-x="-54" data-y="31" data-cw="200" alt="Digital Economy"
        title="Digital Economy" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect" coords="0,639,174,717"
        style="outline:none;" target="_blank" />
    <area id="mresearching" data-pimg="pagec-mobile" data-img="researchingm" data-x="-22" data-y="4" data-cw="338" alt="Researching and developing cutting-edge digital technology"
        title="Researching and developing cutting-edge digital technology" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77"
        shape="rect" coords="447,739,640,857" style="outline:none;" target="_blank" />
    <area id="mfostering" data-pimg="pagec-mobile" data-img="fosceringm" data-x="-54" data-y="52" data-cw="308" alt="Fostering interdisciplinary digital talents"
        title="Fostering interdisciplinary digital talents" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect"
        coords="243,741,436,859" style="outline:none;" target="_blank" />
    <area id="mcreating" data-pimg="pagec-mobile" data-img="creatingm" data-x="-62" data-y="48" data-cw="366" alt="Creating a friendly legal environment"
        title="Creating a friendly legal environment" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77" shape="rect"
        coords="13,740,233,858" style="outline:none;" target="_blank" />
    <area id="mconstructing" data-pimg="pagec-mobile" data-img="constructingm" data-x="-75" data-y="111" data-cw="1130" alt="Constructing a beneficial infrastructure for digital innovation"
        title="Constructing a beneficial infrastructure for digital innovation" href="https://www.digi.ey.gov.tw/en/cp.aspx?n=258274B98D400B77"
        shape="rect" coords="14,877,633,995" style="outline:none;" target="_blank" />


</map>

<style>
    .img-fluid{
        width:80%;
    }
</style>