<!-- Stylesheets -->
<!-- <link rel="stylesheet"		type="text/css" 		href="/digimap/css/bootstrap.min.css?v=1.0.0" 		media="all" /> -->
<link rel="stylesheet"		type="text/css" 		href="/digimap/css/font-awesome.min.css"				media="all"			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet"		type="text/css" 		href="/digimap/css/animate.min.css?v=1.0.0" 			media="all" />
<link rel="stylesheet" 		type="text/css"			href="/digimap/css/common.css?v=1.0.02" 				media="all" />
<link rel="stylesheet" 		type="text/css"			href="/digimap/css/pagea.css?v=1.0.02" 				media="all" />
<link rel="stylesheet" 		type="text/css"			href="/digimap/css/mobile.css?v=1.0.02"				media="screen and (max-width: 650px)">

<!-- Scripts -->
<script type="text/javascript"		data-require="jquery@3.2.1"			data-semver="3.2.1"		src="/digimap/js/jquery.min.js?v=3.2.1"></script>
<script type="text/javascript"		data-require="jquery@3.2.1"			data-semver="3.2.1"		src="/digimap/js/jquery.touchswipe.min.js?v=3.2.1"></script>
<script type="text/javascript"		data-require="popper@1.12.5"		data-semver="1.12.5"	src="/digimap/js/umd/popper.min.js?v=1.12.5"></script>
<script type="text/javascript"		data-require="bootstrap@4.0.0"		data-semver="4.0.0"		src="/digimap/js/bootstrap.min.js?v=4.0.0"></script>

<div class="wrapper1">
    <section>
        <div class="container-fluid">
            <img src="/digimap/images/a-pc.jpg" class="img-fluid desktop" id="pagea-pc" usemap="#pagea-pc-map" />
            <img src="/digimap/images/a-mobile.jpg" class="img-fluid mobile" id="pagea-mobile" usemap="#pagea-mobile-map">
        </div>
    </section>
</div>

<map name="pagea-pc-map" id="pagea-pc-map">
    <area alt="Intelligent Cites" title="Intelligent Cites" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=505F79F68C535012"
        shape="rect" coords="816,577,1016,620" style="outline:none;" target="_blank" />
    <area alt="Network Society" title="Network Society" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=34D839CE279540D7"
        shape="rect" coords="561,577,761,620" style="outline:none;" target="_blank" />
    <area alt="Digital Government" title="Digital Government" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=34D839CE279540D7"
        shape="rect" coords="295,576,519,619" style="outline:none;" target="_blank" />
    <area alt="Digital Economy" title="Digital Economy" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=0F8F42F90666DB35"
        shape="rect" coords="40,577,264,620" style="outline:none;" target="_blank" />
    <area alt="Researching and developing cutting-edge digital technology" title="Researching and developing cutting-edge digital technology"
        href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=2F606FFF2CC102A8" shape="rect" coords="836,676,1174,745" style="outline:none;"
        target="_blank" />
    <area alt="Fostering interdisciplinary digital talents" title="Fostering interdisciplinary digital talents" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=3840970146B6CD6D"
        shape="rect" coords="473,673,811,743" style="outline:none;" target="_blank" />
    <area alt="Creating a friendly legal environment" title="Creating a friendly legal environment" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=253B8C81D4AE7CC7"
        shape="rect" coords="167,674,402,744" style="outline:none;" target="_blank" />
    <area alt="Constructing a beneficial infrastructure for digital innovation" title="Constructing a beneficial infrastructure for digital innovation"
        href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=253B8C81D4AE7CC7" shape="rect" coords="281,788,1004,838" style="outline:none;"
        target="_blank" />
    <area alt="Asia, Silicon Valley Biomedical industry Smart machinery Green energy technology Defense industry" title="Asia, Silicon Valley Biomedical industry Smart machinery Green energy technology Defense industry"
        href="https://bio.taiwan.gov.tw/" shape="poly" coords="498,181,439,193,389,226,356,276,344,335,356,394,389,444,439,477,498,489,557,477,607,444,640,394,652,335,640,276,607,226,557,193"
        style="outline:none;" target="_blank" />
    <area alt="AI Taiwan" title="AI Taiwan" href="https://ai.taiwan.gov.tw/" shape="poly" coords="1143,471,1121,475,1102,488,1089,507,1085,529,1089,551,1102,570,1121,583,1143,587,1165,583,1184,570,1197,551,1201,529,1197,507,1184,488,1165,475"
        style="outline:none;" target="_blank" />
</map>

<map name="pagea-mobile-map" id="pagea-mobile-map">
    <area alt="Intelligent Cites" title="Intelligent Cites" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=505F79F68C535012"
        shape="rect" coords="511,700,634,757" style="outline:none;" target="_blank" />
    <area alt="Network Society" title="Network Society" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=34D839CE279540D7"
        shape="rect" coords="352,700,475,757" style="outline:none;" target="_blank" />
    <area alt="Digital Government" title="Digital Government" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=34D839CE279540D7"
        shape="rect" coords="184,697,331,754" style="outline:none;" target="_blank" />
    <area alt="Digital Economy" title="Digital Economy" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=0F8F42F90666DB35"
        shape="rect" coords="9,701,156,758" style="outline:none;" target="_blank" />
    <area alt="Researching and developing cutting-edge digital technology" title="Researching and developing cutting-edge digital technology"
        href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=2F606FFF2CC102A8" shape="rect" coords="456,807,642,922" style="outline:none;"
        target="_blank" />
    <area alt="Fostering interdisciplinary digital talents" title="Fostering interdisciplinary digital talents" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=3840970146B6CD6D"
        shape="rect" coords="249,827,435,921" style="outline:none;" target="_blank" />
    <area alt="Creating a friendly legal environment" title="Creating a friendly legal environment" href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=253B8C81D4AE7CC7"
        shape="rect" coords="40,825,226,919" style="outline:none;" target="_blank" />
    <area alt="Constructing a beneficial infrastructure for digital innovation" title="Constructing a beneficial infrastructure for digital innovation"
        href="https://www.digi.ey.gov.tw/en/WaterFall.aspx?n=253B8C81D4AE7CC7" shape="rect" coords="44,1006,632,1054" style="outline:none;"
        target="_blank" />
    <area alt="Asia, Silicon Valley Biomedical industry Smart machinery Green energy technology Defense industry" title="Asia, Silicon Valley Biomedical industry Smart machinery Green energy technology Defense industry"
        href="https://bio.taiwan.gov.tw/" shape="poly" coords="276,317,231,326,193,351,168,389,159,434,168,479,193,517,231,542,276,551,321,542,359,517,384,479,393,434,384,389,359,351,321,326"
        style="outline:none;" target="_blank" />
    <area alt="AI Taiwan" title="AI Taiwan" href="https://ai.taiwan.gov.tw/" shape="poly" coords="570,557,547,561,528,574,515,593,511,616,515,639,528,658,547,671,570,675,593,671,612,658,625,639,629,616,625,593,612,574,593,561"
        style="outline:none;" target="_blank" />
</map>

<style>
    .img-fluid{
        width:100%;
    }
</style>