<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">
                <section class="contact">
                    <ul class="menu">
                        <li>
                            <a href="/#news" class="scrolly">News</a>
                        </li>
                        <li>
                            <a href="/#vision" class="scrolly">Vision</a>
                        </li>
                        <li>
                            <a href="/#framework" class="scrolly">Framework</a>
                        </li>
                        <!--li>
                            <a href="/#events" class="scrolly">Events</a>
                        </li-->
                        <!--li>
                            <a href="mailto:csh@ey.gov.tw?subject=About AI project&body=Content" class="scrolly">Contact</a>
                        </li-->
                    </ul>
                </section>

                <div class="copyright">
                    <ul class="menu">
                        <li style="color:black">Design:
                            <a href="http://html5up.net" style="color:black">HTML5 UP</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #footer {
        padding: 3em 0 2em 0;
    }
</style>
