{% assign dataset = include.dataset | reverse %}
<ul style="list-style:none">
    {% for post in dataset %}
    <li class="list-article">
        <a href="{{post.permalink}}" class="image-10by6" style="flex: 0 0 20%;margin-right: 1rem;padding-top:12%;background:url({{post.image}})">

        </a>
        <div>
            <h4>
                <a href="{{post.permalink}}">{{post.title | truncatewords:20}}</a>
            </h4>
            {{post.date | date: '%B %d, %Y' }}
            <p>{{post.summary | truncatewords:50}}</p>
        </div>
    </li>
    {% endfor %}
</ul>

<style>
    .image-10by6 {
        padding-top: 60%;
        background-position: center !important;
        background-size: cover !important;
    }

    .list-article {
        text-align: left;
        padding: 1rem;
        border-bottom: solid 1px #ddd;
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width: 768px){
        .list-article>div>p{
            display: none;
        }
    }
</style>