<nav id="nav">
    <ul>
        <li>
            <a href="/#vision" class="scrolly">Vision</a>
        </li>
        <!--li>
            <a href="/#opportunities" class="scrolly">Opportunities</a>
        </li-->
        <li>
            <a href="/#framework" class="scrolly">Framework</a>
        </li>
        <li>
            <a href="/#news" class="scrolly">News</a>
        </li>
        <!--li>
            <a href="/#events" class="scrolly">Events</a>
        </li-->
        <!--li>
            <a href="mailto:csh@ey.gov.tw?subject=About AI project&body=Content" class="scrolly">Contact</a>
        </li-->
    </ul>
</nav>
